@font-face {
    font-family: lovestory;
    src: url(../fonts/Love-Story-Rough.ttf);
}

@font-face {
    font-family: gamelan;
    src: url(../fonts/Gamelan.ttf);
}

html, body{
    margin: 0;
}

*{
    font-family: gamelan;
}

h1, h2{
    color: #cc1d1d;
}

input{
    padding-left: 20px;
    font-size: 3em;
}

.message{
    display: grid;
    grid-auto-columns: 100px auto;
    grid-template-areas: 'user messagetext';
    text-align: left;
    border-bottom: 1px dotted black;
}

.message:last-child{
    border-bottom: none;
}

.username{
    grid-area: user;
    font-weight: bold;
}

.text{
    grid-area: messagetext;
}

#chat-wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8rem auto 4rem;
    grid-template-areas: 
    'header' 'main' '.' 'footer';
}

#chat-header{
    grid-area: header;
    display: grid;
    grid-template-columns: 10em auto 10em;
    grid-template-rows: 8rem;
    grid-template-areas:
    'logoarea titlearea logoutarea';
}

#chat-logoarea{
    grid-area: logoarea;
    text-align: center;
}

#chat-logo{
    width: 100px;
    margin-top: 10px;
}

#chat-title{
    grid-area: titlearea;
    font-size: 2.3em;
    margin: 0;
    height: 55px;
    text-align: center;
}

#slogan{
    grid-area: slogan;
    font-size: 1.5em;
    margin: 0;
    height: 40px;
    text-align: center;
}

#chat-logoutarea{
    grid-area: logoutarea;
    text-align: center;
}

.chat-button{
    font-size: 1.2em;
    border-radius: 5%;
    border: 0px;
    color: white;
    background-color: #cc1d1d;
    font-family: lovestory;
    height: 65px;
    margin-top: 2em;
    width: 80px;
}

#chat-form-logout{
    text-align: center;
    margin-top: 3em;
}

#chat-main{
    display: grid;
    grid-template-columns: 10em auto 10em;
    grid-template-rows: 3em 35em 5em;
    grid-template-areas: 
    '. . .'
    '. chatcontent .'
    '. chatinput .';
    padding-top: 0;
}

#chatcontent{
    grid-area: chatcontent;
    background-color: #f5f5f5;
    border: none;
    resize: none;
    overflow-y: scroll;
    padding: 10px 45px 0px 45px;
}

#chatinput{
    grid-area: chatinput;
    background-color: #e4e4e4;
    padding: 15px 40px 15px 40px;
    display: grid;
    grid-template-columns: auto 10em;
    grid-template-areas:
    'input send';
}

#chatinputflield{
    grid-area: input;
}

#chatinputsend{
    grid-area: send;
    font-size: 1.8em;
    color: #cc1d1d;
    font-family: lovestory;
}

input{
    padding-left: 20px;
    font-size: 1em;
}

#chat-footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3em;
    grid-template-areas: 
    'madebyarea';
    text-align: center;
}

#madebyarea{
    grid-area: madebyarea;
}

#madeby{
    color: #cc1d1d;
    font-size: 1em;
    margin: 0;
}